version: '3.9'

services:
  web:
    build: .
    container_name: django-app
    command: >
        sh -c "python manage.py collectstatic --noinput &&
              python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backup:/backup
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  auto_labeling_worker:
    build: .
    container_name: auto_labeling_worker
    command: >
      sh -c "celery -A config worker --loglevel=info --queues=queue_one"
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    env_file:
      - .env
    restart: always

  is_news_worker:
    build: .
    container_name: is_news_worker
    command: >
      sh -c "celery -A config worker --loglevel=info --queues=queue_two"
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    env_file:
      - .env
    restart: always
    
  news_content_worker:
    build: .
    container_name: news_content_worker
    command: >
      sh -c "celery -A config worker --loglevel=info --queues=queue_three"
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    env_file:
      - .env
    restart: always


  celery_beat:
    build: .
    container_name: celery_beat
    command: >
      sh -c "celery -A config beat --loglevel=info"
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    env_file:
      - .env

volumes:
  postgres_data:
